# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/.idea/
/.env
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/tables/auth.audit_log_entries.csv.br
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/tables/auth.flow_state.csv.br
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/tables/auth.identities.csv.br
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/tables/auth.instances.csv.br
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/tables/auth.mfa_amr_claims.csv.br
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/tables/auth.mfa_challenges.csv.br
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/tables/auth.mfa_factors.csv.br
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/tables/auth.refresh_tokens.csv.br
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/tables/auth.saml_providers.csv.br
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/tables/auth.saml_relay_states.csv.br
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/tables/auth.schema_migrations.csv.br
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/tables/auth.sessions.csv.br
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/tables/auth.sso_domains.csv.br
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/tables/auth.sso_providers.csv.br
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/tables/auth.users.csv.br
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/tables/public.blueprints.csv.br
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/tables/public.claims.csv.br
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/tables/public.default_sponsor_metadata.csv.br
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/tables/public.hyperboard_registries.csv.br
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/tables/public.hyperboards.csv.br
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/tables/public.registries.csv.br
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/tables/public.users.csv.br
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/tables/public.zuzalu_donations.csv.br
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/dummy.sqlite
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/restore.log
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/schemas.sql
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/snaplet.config.ts
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/structure.json
/.snaplet/snapshots/1698844006003-ss-midi-radon-562927/summary.json
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/tables/auth.audit_log_entries.csv.br
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/tables/auth.flow_state.csv.br
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/tables/auth.identities.csv.br
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/tables/auth.instances.csv.br
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/tables/auth.mfa_amr_claims.csv.br
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/tables/auth.mfa_challenges.csv.br
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/tables/auth.mfa_factors.csv.br
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/tables/auth.refresh_tokens.csv.br
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/tables/auth.saml_providers.csv.br
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/tables/auth.saml_relay_states.csv.br
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/tables/auth.schema_migrations.csv.br
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/tables/auth.sessions.csv.br
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/tables/auth.sso_domains.csv.br
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/tables/auth.sso_providers.csv.br
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/tables/auth.users.csv.br
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/tables/public.blueprints.csv.br
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/tables/public.claims.csv.br
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/tables/public.default_sponsor_metadata.csv.br
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/tables/public.hyperboard_registries.csv.br
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/tables/public.hyperboards.csv.br
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/tables/public.registries.csv.br
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/tables/public.users.csv.br
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/tables/public.zuzalu_donations.csv.br
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/dummy.sqlite
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/restore.log
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/schemas.sql
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/snaplet.config.ts
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/structure.json
/.snaplet/snapshots/1698846196435-ss-fluff-enigmosaurus-507414/summary.json
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/tables/auth.audit_log_entries.csv.br
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/tables/auth.flow_state.csv.br
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/tables/auth.identities.csv.br
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/tables/auth.instances.csv.br
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/tables/auth.mfa_amr_claims.csv.br
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/tables/auth.mfa_challenges.csv.br
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/tables/auth.mfa_factors.csv.br
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/tables/auth.refresh_tokens.csv.br
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/tables/auth.saml_providers.csv.br
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/tables/auth.saml_relay_states.csv.br
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/tables/auth.schema_migrations.csv.br
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/tables/auth.sessions.csv.br
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/tables/auth.sso_domains.csv.br
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/tables/auth.sso_providers.csv.br
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/tables/auth.users.csv.br
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/tables/public.blueprints.csv.br
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/tables/public.claims.csv.br
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/tables/public.default_sponsor_metadata.csv.br
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/tables/public.hyperboard_registries.csv.br
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/tables/public.hyperboards.csv.br
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/tables/public.registries.csv.br
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/tables/public.users.csv.br
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/tables/public.zuzalu_donations.csv.br
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/dummy.sqlite
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/restore.log
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/schemas.sql
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/snaplet.config.ts
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/structure.json
/.snaplet/snapshots/1698850110075-ss-same-hellebore-723023/summary.json
/.snaplet/config.json
