@import url('https://fonts.cdnfonts.com/css/switzer');

@font-face {
    font-family: "Director-Regular";
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/Director-regular.woff2) format("woff2");
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

.hero-font {
  font-family: 'Instrument-Serif';
  font-size: 54px;
  font-weight: 900;
  line-height: 1.1;
  text-transform: lowercase;
  max-width: 800px;
  text-align: center;
  margin-left: auto; 
  margin-right: auto; 
}

.hypercertsTitle {
    font-family: 'Inter', sans-serif; /* Add fallback fonts as needed */
    font-size: 12px; /* Adjust if necessary */
    font-weight: 700;
    line-height: 1.1;
    margin-left: auto;
    margin-right: auto;
  }

.hrStyle {
    border: none;
    height: 1px;
    background-color: #333;
    margin: 20px 0;
  }
  
.hypercertsParagraph {
    margin-top: 12px;
  }
  